repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']
        exclude: ^(.*\.lock|.*\.svg)$
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - args:
          - --unsafe
        id: check-yaml
      - id: check-json
        exclude: ^.vscode/
      - id: check-toml
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

  - repo: git@github.com:astral-sh/ruff-pre-commit.git
    rev: v0.15.1
    hooks:
      - id: ruff-check
        args: ['--config', 'ruff.toml', '--fix', '--unsafe-fixes']
        types_or: ['python', 'pyi']
      - id: ruff-format
        types_or: ['python', 'pyi']

  - repo: git@github.com:PyCQA/bandit.git
    rev: 1.9.3
    hooks:
      - id: bandit
        additional_dependencies: ['bandit[toml]']
        args: ['-c', 'pyproject.toml', '--skip', 'B101']
        exclude: ^(tests/|test_.*\.py$)

  - repo: git@github.com:astral-sh/uv-pre-commit.git
    rev: 0.10.2
    hooks:
      - id: uv-lock
        args: [--frozen, --quiet]
      - id: uv-export
        args: ['--format', 'requirements-txt', '-o', 'requirements.txt', '--quiet']
