[project]
name = "fastapi-service"
version = "0.0.0"
description = "FastAPI Service"
readme = "README.md"
requires-python = ">=3.14"
license = { text = "MIT" }
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.0",
    "pre-commit>=4.4.0",
    "ruff>=0.14.4",
    "commitizen>=4.10.0",
]

[tool.uv]
package = false
python-downloads = "manual"
default-groups = ["dev"]

[[tool.uv.index]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"

[tool.setuptools]
packages = ["backend"]
